h4 {
    background-color: white;
    line-height: 2;
    margin: 0px;
}

#restart, #status {
    font-size: 22px;
}

.copy_right_footer
{
  position: fixed;
  color: blue;
  bottom: 0;
  width: 100%;
  background-color: white;
  line-height: 3;
  text-align: center;
}